.ListOfSkillsCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 24px 24px;
  width: 100%;
  margin-bottom: 42px;
}

@media only screen and (max-width: 600px) {
  .ListOfSkillsCards {
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  }
}
