.ProjectCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--card-background);
  transition: 500ms all;
  cursor: pointer;
}

.ProjectCard-thumbnail {
  width: 100%;
  border-radius: 5px;
}

.ProjectCard-title {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.ProjectCard-description {
  width: 100%;
  color: var(--color-secondaryText);
  font-size: 16px;
  font-weight: 400;
}

.ProjectCard-repo,
.ProjectCard-play {
  display: none;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 500px;
  position: absolute;
  top: 53%;
  background: var(--color-accent);
  transition: 500ms all;
  box-shadow: 0px 5px 25px black;
}

.ProjectCard-repo {
  left: 6%;
}

.ProjectCard-play {
  right: 6%;
}

.ProjectCard-repo img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .ProjectCard:hover {
    background-color: var(--hover-background);
    scale: 1.01;
    box-shadow: 0px 5px 50px black;
  }

  .ProjectCard:hover .ProjectCard-repo,
  .ProjectCard:hover .ProjectCard-play {
    display: flex;
  }

  .ProjectCard:hover .ProjectCard-repo:hover,
  .ProjectCard:hover .ProjectCard-play:hover {
    scale: 1.05;
    transform: translate(0, -5px);
  }
}
