.SkillCard {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-radius: 8px;
  transition: 500ms all;
}

.SkillCard img {
  width: 30%;
}

.SkillCard-title {
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .SkillCard {
    gap: 8px;
  }

  .SkillCard img {
    width: 20%;
  }
}
