.SkillCard {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--card-background);
  transition: 500ms all;
}

.SkillCard:hover {
  background-color: var(--hover-background);
  scale: 1.01;
}

.SkillCard img {
  width: 30%;
  border-radius: 8px;
}

.SkillCard-title {
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .SkillCard {
    gap: 8px;
  }

  .SkillCard img {
    width: 20%;
  }
}
