.ListOfProjectsCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px 24px;
  width: 100%;
  margin-bottom: 42px;
}

.ProjectsSkills {
  display: flex;
  width: 100%;
  list-style: none;
  gap: 8px;
}

.ProjectsSkills li {
  width: 10%;
}

.ProjectsSkills li img {
  width: 100%;
}
