.MainFooter {
  border-top: 1px solid var(--color-secondaryText);
  margin-bottom: 42px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-size: 0.8rem;
  text-align: center;
  color: var(--color-secondaryText);
}

@media only screen and (max-width: 600px) {
  .MainFooter {
    flex-direction: column;
  }
}