.ProyectCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--card-background);
  transition: 500ms all;
  cursor: pointer;
}

.ProyectCard-thumbnail {
  width: 100%;
  border-radius: 5px;
}

.ProyectCard-title {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.ProyectCard-description {
  width: 100%;
  color: var(--color-secondaryText);
  font-size: 16px;
  font-weight: 400;
}

.ProyectCard-repo,
.ProyectCard-play {
  display: none;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 500px;
  position: absolute;
  top: 53%;
  background: var(--color-accent);
  transition: 500ms all;
  box-shadow: 0px 5px 25px black;
}

.ProyectCard-repo {
  left: 6%;
}

.ProyectCard-play {
  right: 6%;
}

.ProyectCard-repo img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .ProyectCard:hover {
    background-color: var(--hover-background);
    scale: 1.01;
    box-shadow: 0px 5px 50px black;
  }

  .ProyectCard:hover .ProyectCard-repo,
  .ProyectCard:hover .ProyectCard-play {
    display: flex;
  }

  .ProyectCard:hover .ProyectCard-repo:hover,
  .ProyectCard:hover .ProyectCard-play:hover {
    scale: 1.05;
    transform: translate(0, -5px);
  }
}
